@use '../../styles/variables.module.scss' as *;

.hero {
	overflow: hidden;
	height: 90vh;
	padding-block: 5rem;
	background-size: cover;
	background-position: center;

	background-image: url('../../public/images/hero.png'),
		radial-gradient(rgba($clr-primary, 0.65), rgba($clr-accent, 0.35));

	background-blend-mode: overlay;
}

.title {
	white-space: nowrap;
	font-size: 14.75vw;
	line-height: 1;
	text-align: center;

	-webkit-text-stroke-width: 3px;
	-webkit-text-stroke-color: rgba($clr-light, 0.75);
}

.subtitle {
	padding-left: max(2rem, 10vw);
	font-family: var(--font-fira-code);
	font-size: 2rem;
}

.ctaBtns {
	display: flex;
	align-items: center;
	gap: 2rem;
	margin-top: 3rem;
	padding-left: max(2rem, 10vw);
}

@media (min-width: $bp-tablet) {
	.title {
		font-size: 15.5vw;
	}
}

@media (min-width: $bp-desktop) {
	.subtitle {
		font-size: 3rem;
	}
}
