@use '../../styles/variables.module.scss' as *;

.nav {
	display: flex;
	justify-content: flex-end;
	position: fixed;
	z-index: 100;
	top: 0;
	width: 100%;
	padding: 1rem 2rem;
}

.screen {
	position: fixed;
	inset: 0;
	background-color: rgba($clr-primary, 0.75);
	transform: scaleY(0);
	transform-origin: top;
	transition: 0.1s transform ease-in-out;
}

.hamburger {
	aspect-ratio: 1;
	padding: 0.5rem;
	border: 3px solid transparent;
	border-radius: 50%;
	background-color: rgba($clr-accent, 0.25);
	transition: 0.2s border-color ease-in-out;
}
.hamburger:hover {
	border-color: $clr-accent;
}

.navList {
	list-style-type: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5rem;
	position: fixed;
	inset: 0 0 0 auto;
	padding: 1rem 2rem;
	background-color: rgba($clr-primary, 0.5);
	transform: scaleX(0);
	transform-origin: right;
	transition: 0.1s transform ease-in-out;
}

// styles for opening nav menu

.nav.open > .navToggleBtn {
	display: none;
}

.nav.open > .screen {
	transform: scaleY(1);
}

.nav.open > .navList {
	transform: scaleX(1);
}
