// breakpoints
$bp-mobile: 576px; // mobile
$bp-tablet: 768px; // tablet
$bp-desktop: 1024px; // desktop
$bp-lg-desktop: 1280px; // high res desktop
$bp-xl-desktop: 1440px; // huge res desktop

// colors
$clr-dark: #25283d; // dark blue
$clr-light: #f2f5ea; // off white
$clr-primary: #44ccff; // vibrant blue
$clr-accent: #35ff69; // vibrant green

// border radius
$br-1: 8px;
